@import 'variables';

:root {
  --materialMargin: 4rem;
}

.material {
  @apply --typeBody;

  position: relative;
  border-bottom: 1px solid black;
  padding: var(--spacingSm) 0;
  margin: var(--materialMargin) 0;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: var(--colorPrimary);
  }

  & label {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--spacingSm) 0;
    transform-origin: left top;
    transform: translateY(0) scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
    line-height: 2.4rem;
  }

  & input,
  & textarea {
    padding: 0;
    width: 100%;
    line-height: 2.4rem;
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
  }

  & .errors {
    position: absolute;
    bottom: -75%;
    left: 0;
    display: flex;

    & .error {
      font-size: responsive 1rem 1.5rem;
      margin-right: 1rem;
      color: var(--colorError);
    }
  }

  &.has-value {
    & label {
      transform: translateY(-50%) scale(0.75);
    }
  }

  &.is-focussed {
    &::after {
      transform: scaleX(1);
    }

    & label {
      color: var(--colorPrimary);
    }
  }

  &.is-errored {
    &::after {
      background-color: var(--colorError);
      transform: scaleX(1);
    }

    & label {
      color: var(--colorError);
    }
  }

  &.is-date {
    & label {
      transform: translateY(-50%) scale(0.75);
    }
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}
