@import 'variables';

:root {
  --bentoFile: {
    display: flex;
    margin: var(--spacingSm) 0;
    align-items: center;

    & .preview {
      display: none;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 10rem;
      height: 10rem;
      margin-right: var(--spacingSm);
      border-radius: 0.3rem;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    & .input {
      & label {
        @apply --typeLabel;

        display: block;
        margin-bottom: var(--spacingSm);
      }

      & button {
        display: block;
        margin-bottom: var(--spacingSm);
      }

      & input {
        display: none;
      }

      & .message {
        @apply --typeLabel;

        color: var(--colorTextDark);
      }
    }
  };
}

.file-input {
  @apply --bentoFile;
}
