@import 'variables';

.form-group.multi-select {
  & label.multi-label {
    @apply --typeBody;

    font-size: 1.4rem !important;
  }

  & .multiselect-wrapper {
    position: relative;
    width: 100%;

    & .multiselect-input-div {
      position: relative;
      display: block;
      width: 100%;

      & .multiselect-input {
        position: relative;
        padding: 0.5em 0;
        width: 100%;
        border-bottom: 1px solid var(--colorBlack);

        &:active,
        &:focus {
          color: var(--colorBlack);
          border-bottom: 1px solid var(--colorPrimary);
        }
      }

      & .multiselect-count {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        left: auto !important;
        text-align: right;
        margin: 0 !important;
        color: var(--colorWhite);
        height: 3rem;
        width: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: var(--colorPrimary);
        border-radius: 9999px;
      }

      & .multiselect-dropdown-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        left: auto !important;
      }
    }

    & .multiselect-list {
      @apply --typeBody;

      position: absolute;
      pointer-events: none;
      opacity: 0;
      transition: 0.25s ease all;
      transform: scaleY(0);
      transform-origin: top;
      background-color: var(--colorWhite);
      padding: 0.5em;
      border-bottom: 1px solid var(--colorBlack);
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;

      &.active {
        pointer-events: auto;
        opacity: 1;
        transition: 0.25s ease all;
        transform: scaleY(1);
        z-index: 9999 !important;
      }

      & hr {
        display: none !important;
      }

      & span .multiselect-text {
        display: inline-block;
        margin-left: 10px;
        padding-bottom: 10px;
      }

      & .multiselect-text {
        display: inline-block;
        margin-left: 10px;
        padding: 0.25em 0;
      }

      & ul li {
        cursor: pointer;

        &:hover,
        &.active {
          color: var(--colorPrimary);
        }
      }
    }
  }
}
