@import 'variables';

.alert {
  opacity: 0;
  padding: 15px;
  border: 1px solid var(--colorTransparent);
  border-radius: 2px;
  position: fixed;
  top: -80px;
  left: 50%;
  min-width: 80rem;
  width: auto;
  z-index: 100;
  will-change: transform;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transform: translate3d(-50%, 0, 0);

  &.-enabled {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    transform: translate3d(-50%, 100px, 0);
    opacity: 1;
  }

  & > .close {
    float: right;
    text-decoration: none;
    line-height: 1;
    color: var(--colorDarkerGrey);
  }

  &.-success {
    background-color: var(--colorSuccess);
    color: color(var(--colorSuccess) shade(45%));
  }

  &.-info {
    background-color: var(--colorInfo);
    color: color(var(--colorInfo) shade(45%));
  }

  &.-warning {
    background-color: var(--colorWarning);
    color: color(var(--colorWarning) shade(45%));
  }

  &.-error {
    background-color: var(--colorError);
    color: color(var(--colorError) shade(45%));
  }
}
