@import 'variables';
@import '../../../../shared/buttons/buttons';

:root {
  @custom-media --tableDesktop (width >= 769px);

  --skyrktResponsiveTable: {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;

    & thead {
      display: none;

      @media (--tableDesktop) {
        display: table-header-group;
      }
    }

    & tfoot {
      display: none;

      & th {
        vertical-align: top;
      }

      @media (--tableDesktop) {
        display: table-footer-group;
      }
    }

    & th {
      display: none;
      vertical-align: bottom;

      &.empty {
        visibility: hidden;
      }

      &.active {
        color: var(--colorPrimary);

        &::after {
          border-bottom: 2px solid var(--colorPrimary);
        }
      }

      & i {
        display: none;
        float: right;
        font-size: 1.2rem;
        margin-left: var(--spacingSm);
        position: relative;
        top: 0.2rem;
      }

      &.ascending {
        & .icon-ascending-sorting {
          display: block;
        }
      }

      &.descending {
        & .icon-descending-sorting {
          display: block;
        }
      }

      @media (--tableDesktop) {
        display: table-cell;
      }
    }

    & tr {
      display: block;

      @media (--tableDesktop) {
        display: table-row;
      }
    }

    & td {
      display: flex;

      @media (--tableDesktop) {
        display: table-cell;
      }

      &::before {
        content: attr(data-th);
        display: inline-block;
        width: 33%;
        flex-shrink: 0;

        @media (--tableDesktop) {
          display: none;
        }
      }
    }
  }

  /* Bentobox Style Variables */
  --tablePadding: 4rem;
}

.select-all-box {
  padding: 0 var(--spacingSm);
}

/* BASIC TABLE RESET */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* Bentobox Table Styling */
table {
  @apply --skyrktResponsiveTable;

  & thead {
    & tr {
      border: none;
    }

    & th {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: calc(100% - var(--tablePadding));
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }

      &:last-child {
        &::after {
          width: 100%;
        }
      }
    }
  }

  & tfoot {
    & tr {
      border: 0;
    }
  }

  & th {
    @apply --typeLabel;
  }

  & tr {
    padding: 1em 0;
  }

  & td {
    @apply --typeBody;

    border-bottom: 0.2rem solid var(--colorLighterGrey);
    padding: 0.5em;
    color: var(--colorTextMedium);

    &::before {
      @apply --typeLabel;
    }

    &:first-child {
      color: var(--colorPrimary);

      &::before {
        display: none;
      }
    }

    &.checkbox {
      border-bottom: none;
      padding: 0 var(--spacingMd) 0 var(--spacingSm);
      width: 1rem;
    }
  }

  @media (--tableDesktop) {
    & th,
    & td {
      padding: 1.25em 0;
      padding-right: var(--tablePadding);

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.table-header {
  @media (--minMedium) {
    margin-top: var(--spacingMd);
  }

  margin-top: var(--spacingXl);

  & .title {
    margin: 0 !important;
  }

  @apply --animatingButtonSettings;
}
