@import 'variables';

:root {
  --controlsBg: var(--colorLighterGrey);
  --controlsBorder: var(--colorGrey);
  --controlsHeight: 2.5em;
}

ul {
  &.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  &.controls {
    font-size: 0;

    & li,
    & span {
      overflow: hidden;
      display: inline-block;
      background: var(--controlsBg);
      border-top: 1px solid var(--controlsBorder);
      border-bottom: 1px solid var(--controlsBorder);

      &:first-child {
        border-left: 1px solid var(--controlsBorder);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-right: 1px solid var(--controlsBorder);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    & span {
      border-right: 1px solid var(--controlsBorder);

      & li {
        border: none !important;
        border-radius: 0 !important;
        background: none;
      }
    }

    & li {
      @apply --typeLabel;

      height: var(--controlsHeight);
      line-height: var(--controlsHeight);
      margin: 0;

      & > * {
        padding: 0 calc(var(--controlsHeight) / 2);
      }

      & a {
        display: inline-block;
        height: var(--controlsHeight);
        text-decoration: none;
        color: inherit;
        will-change: background-color;
        transition: background-color ease 0.5s;

        &:hover {
          transition: background-color ease 0.1s;
          background-color: var(--colorWhite);
        }

        &:active {
          color: var(--colorWhite);
          background-color: var(--colorPrimary);
        }
      }

      & .icon {
        line-height: calc(var(--controlsHeight) + 0.05em) !important;
      }

      & input {
        height: var(--controlsHeight);
        line-height: var(--controlsHeight);
        background: none;
        padding: 0;

        &:focus {
          outline: none;
        }
      }
    }

    &.white {
      /* palceholder */
      & span {
        background: var(--colorWhite);
      }

      & a {
        color: inherit;
        will-change: color;
        transition: color ease 0.5s;

        &:hover {
          transition: color ease 0.1s;
          color: var(--colorPrimary);
        }

        &:active {
          color: var(--colorWhite);
          background-color: var(--colorPrimary);
        }
      }
    }
  }

  &.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    & i,
    & span {
      flex-grow: 0;
      flex-shrink: 0;

      &:last-child {
        flex-grow: 1;
      }
    }

    &.between {
      justify-content: space-between;

      & span {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-grow: 1;

        & i {
          flex-grow: 1;
        }
      }
    }

    &.white {
      /* palceholder */
      & span {
        background: var(--colorWhite);
      }
    }
  }
}
